body {
    background-image: url("../assets/plaid.png");
    background-repeat: repeat;
 
}
.navigation{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}
.leftnav{
    display: flex; 
     flex-direction: row; 
    
}
.topbutton{
    padding: 0px 5px;

}
.login {
    display: flex; 
    flex-direction: row;
    justify-content: flex-end;
}
.carousel{
    width: 100%;
    margin: 0 auto;
}
.picture {
    width: 100%;
    margin: 0 auto;
}
